<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="Info"/>
    </root>
    <logger name="Default">
      <level value="ALL"/>
      <appender-ref ref="Default"/>
    </logger>
    <logger name="Htg">
      <level value="ALL"/>
      <appender-ref ref="Htg"/>
    </logger>
    <logger name="0101">
      <level value="ALL"/>
      <appender-ref ref="0101"/>
    </logger>
    <logger name="0102">
      <level value="ALL"/>
      <appender-ref ref="0102"/>
    </logger>
    <logger name="0103">
      <level value="ALL"/>
      <appender-ref ref="0103"/>
    </logger>
    <logger name="0104">
      <level value="ALL"/>
      <appender-ref ref="0104"/>
    </logger>
    <logger name="0105">
      <level value="ALL"/>
      <appender-ref ref="0105"/>
    </logger>
    <logger name="0106">
      <level value="ALL"/>
      <appender-ref ref="0106"/>
    </logger>
    <logger name="0107">
      <level value="ALL"/>
      <appender-ref ref="0107"/>
    </logger>
    <logger name="0108">
      <level value="ALL"/>
      <appender-ref ref="0108"/>
    </logger>
    <logger name="0109">
      <level value="ALL"/>
      <appender-ref ref="0109"/>
    </logger>
    <logger name="0110">
      <level value="ALL"/>
      <appender-ref ref="0110"/>
    </logger>
    <logger name="0111">
      <level value="ALL"/>
      <appender-ref ref="0111"/>
    </logger>
    <logger name="0112">
      <level value="ALL"/>
      <appender-ref ref="0112"/>
    </logger>
    <logger name="0113">
      <level value="ALL"/>
      <appender-ref ref="0113"/>
    </logger>
    <logger name="0114">
      <level value="ALL"/>
      <appender-ref ref="0114"/>
    </logger>
    <logger name="0115">
      <level value="ALL"/>
      <appender-ref ref="0115"/>
    </logger>
    <logger name="0116">
      <level value="ALL"/>
      <appender-ref ref="0116"/>
    </logger>
    <logger name="0117">
      <level value="ALL"/>
      <appender-ref ref="0117"/>
    </logger>
    <logger name="0118">
      <level value="ALL"/>
      <appender-ref ref="0118"/>
    </logger>
    <logger name="0119">
      <level value="ALL"/>
      <appender-ref ref="0119"/>
    </logger>
    <logger name="0120">
      <level value="ALL"/>
      <appender-ref ref="0120"/>
    </logger>
    <logger name="0121">
      <level value="ALL"/>
      <appender-ref ref="0121"/>
    </logger>
    <logger name="0199">
      <level value="ALL"/>
      <appender-ref ref="0199"/>
    </logger>
    <logger name="jobBackup">
      <level value="ALL"/>
      <appender-ref ref="jobBackup"/>
    </logger>
	  <logger name="JobDEL_HistoryData">
		  <level value="ALL"/>
		  <appender-ref ref="JobDEL_HistoryData"/>
	  </logger>
	  <logger name="JobDEL_HistoryData_2">
		  <level value="ALL"/>
		  <appender-ref ref="JobDEL_HistoryData_2"/>
	  </logger>
	  <logger name="JobRefresh">
      <level value="ALL"/>
      <appender-ref ref="JobRefresh"/>
    </logger>
    <logger name="LDAPUpdate">
      <level value="ALL"/>
      <appender-ref ref="LDAPUpdate"/>
    </logger>
    <appender name="Default" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\Default\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="Htg" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="LogXml\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0101" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0101\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0102" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0102\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0103" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0103\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0104" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0104\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0105" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0105\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0106" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0106\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0107" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0107\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0108" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0108\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0109" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0109\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0110" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0110\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0111" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0111\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0112" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0112\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0113" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0113\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0114" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0114\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0115" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0115\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0116" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0116\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0117" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0117\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0118" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0118\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0119" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0119\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0120" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0120\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0121" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0121\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="0199" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\0199\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="jobBackup" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\jobBackup\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="JobDEL_HistoryData" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\JobDEL_HistoryData\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
	<appender name="JobDEL_HistoryData_2" type="log4net.Appender.RollingFileAppender">
		  <!--輸出路徑-->
		  <file value="Log\JobDEL_HistoryData_2\"/>
		  <param name="AppendToFile" value="true"/>
		  <param name="MaxSizeRollBackups" value="10"/>
		  <param name="StaticLogFileName" value="false"/>
		  <!--輸出按指定方式切換文件-->
		  <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
		  <param name="RollingStyle" value="Composite"/>
		  <param name="maximumFileSize" value="10MB"/>
		  <!--輸出LOG格式-->
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <layout type="log4net.Layout.PatternLayout">
			  <param name="Header" value=""/>
			  <param name="ConversionPattern" value="%d %p %m%n"/>
			  <param name="Footer" value=""/>
		  </layout>
	  </appender>
	  <appender name="JobRefresh" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\JobRefresh\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
    <appender name="LDAPUpdate" type="log4net.Appender.RollingFileAppender">
      <!--輸出路徑-->
      <file value="Log\LDAPUpdate\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <!--輸出按指定方式切換文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="maximumFileSize" value="10MB"/>
      <!--輸出LOG格式-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%d %p %m%n"/>
        <param name="Footer" value=""/>
      </layout>
    </appender>
  </log4net>
</configuration>
