
.idea/
#.vs/

BaseItem/bin
BaseItem/obj

BusinessRules/bin
BusinessRules/obj

Entity/bin
Entity/obj

Solutions/PrecompiledWeb/*

WebPage/JobLog
WebPage/Log
BusinessRulesNew/obj/Debug/
WebPage/Bin/CSIPCommonModel.BaseItem.dll
WebPage/Bin/CSIPCommonModel.BaseItem.pdb
WebPage/Bin/CSIPCommonModel.BusinessRules.dll
WebPage/Bin/CSIPCommonModel.BusinessRules.pdb
WebPage/Bin/CSIPCommonModel.EntityLayer.dll
WebPage/Bin/CSIPCommonModel.EntityLayer.pdb
WebPage/Bin/Framework.Common.dll
WebPage/Bin/Framework.Common.pdb
WebPage/Bin/Framework.Data.OM.dll
WebPage/Bin/Framework.Data.OM.pdb
WebPage/Bin/Framework.WebControls.dll
WebPage/Bin/Framework.WebControls.pdb
WebPage/Bin/Framework.WebControls.XML
WebPage/FileUpload/
BusinessRulesNew/obj/
BusinessRulesNew/bin/Debug/BusinessRules.dll
BusinessRulesNew/bin/Debug/BusinessRules.pdb
BusinessRulesNew/bin/Debug/BusinessRulesNew.dll
BusinessRulesNew/bin/Debug/BusinessRulesNew.pdb
BusinessRulesNew/bin/Debug/CSIPCommonModel.BaseItem.dll
BusinessRulesNew/bin/Debug/CSIPCommonModel.BusinessRules.dll
BusinessRulesNew/bin/Debug/CSIPCommonModel.EntityLayer.dll
BusinessRulesNew/bin/Debug/Entity.dll
BusinessRulesNew/bin/Debug/Entity.pdb
BusinessRulesNew/bin/Debug/Framework.Common.dll
BusinessRulesNew/bin/Debug/Framework.Data.OM.dll
BusinessRulesNew/bin/Debug/Framework.WebControls.dll
BusinessRulesNew/bin/Debug/nunit.framework.dll
BusinessRulesNew/bin/Release/BusinessRules.dll
BusinessRulesNew/bin/Release/BusinessRules.pdb
BusinessRulesNew/bin/Release/BusinessRulesNew.dll
BusinessRulesNew/bin/Release/BusinessRulesNew.pdb
BusinessRulesNew/bin/Release/CSIPCommonModel.BaseItem.dll
BusinessRulesNew/bin/Release/CSIPCommonModel.BusinessRules.dll
BusinessRulesNew/bin/Release/CSIPCommonModel.EntityLayer.dll
BusinessRulesNew/bin/Release/Entity.dll
BusinessRulesNew/bin/Release/Entity.pdb
BusinessRulesNew/bin/Release/Framework.Common.dll
BusinessRulesNew/bin/Release/Framework.Data.OM.dll
BusinessRulesNew/bin/Release/Framework.WebControls.dll
BusinessRulesNew/bin/Release/ldapapi.dll
BusinessRulesNew/bin/Release/log4net.dll
BusinessRulesNew/bin/Release/nunit.framework.dll
WebPage/Bin/nunit.framework.dll
WebPage/Bin/ldapapi.dll
WebPage/Bin/BusinessRules.dll
WebPage/Bin/BusinessRules.pdb
WebPage/Bin/BusinessRulesNew.dll
WebPage/Bin/BusinessRulesNew.pdb
WebPage/Bin/Entity.dll
WebPage/Bin/Entity.pdb
Solutions/.vs/CardImport/v16/.suo
