
.idea/
#.vs/

BaseItem/bin
BaseItem/obj

BusinessRules/bin
BusinessRules/obj

Entity/bin
Entity/obj

Solutions/PrecompiledWeb/*

WebPage/JobLog
WebPage/Log
BusinessRulesNew/obj/Debug/
WebPage/Bin/Framework.WebControls.XML
WebPage/FileUpload/
BusinessRulesNew/obj/
