.idea/
#.vs/

BusinessRules/bin
BusinessRules/obj

BusinessRulesNew/bin/
BusinessRulesNew/obj/

Entity/bin
Entity/obj

Solutions/PrecompiledWeb/*


WebPage/JobLog
WebPage/Log
WebPage/Logxml

WebPage/Bin/CSIPCommonModel.BaseItem.dll
WebPage/Bin/CSIPCommonModel.BaseItem.pdb
WebPage/Bin/CSIPCommonModel.BusinessRules.dll
WebPage/Bin/CSIPCommonModel.BusinessRules.pdb
WebPage/Bin/CSIPCommonModel.EntityLayer.dll
WebPage/Bin/CSIPCommonModel.EntityLayer.pdb
WebPage/Bin/Framework.Common.dll
WebPage/Bin/Framework.Common.pdb
WebPage/Bin/Framework.Data.OM.dll
WebPage/Bin/Framework.Data.OM.pdb
WebPage/Bin/Framework.WebControls.dll
WebPage/Bin/Framework.WebControls.pdb
WebPage/Bin/Framework.WebControls.XML
WebPage/Bin/nunit.framework.dll
WebPage/Bin/ldapapi.dll
WebPage/Bin/BusinessRules.dll
WebPage/Bin/BusinessRules.pdb
WebPage/Bin/BusinessRulesNew.dll
WebPage/Bin/BusinessRulesNew.pdb
WebPage/Bin/Entity.dll
WebPage/Bin/Entity.pdb

WebPage/FileUpload/
WebPage/Page/ExportExcelFilePath/

#Solutions/.vs/CardImport/v16/.suo
#Solutions/.vs/
