<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="printControl" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0, Culture=neutral,PublicKeyToken=null"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <!--Start Quartz-->
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <!--End-->
  </configSections>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByCategory" localOnly="true"/>
    <sessionState mode="StateServer" regenerateExpiredSessionId="false" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="2097151"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="FileUploadModule" preCondition="integratedMode" type="Framework.WebControls.FileUploadModule, WebControls"/>-->
    </modules>
  </system.webServer>
  <dataConfiguration defaultDatabase="Connection_System"/>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" name="Cache Manager"/>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" name="DatabaseCacheManager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0,Culture=neutral, PublicKeyToken=null" name="inMemory"/>
    </backingStores>
  </cachingConfiguration>
  <connectionStrings>
    <!-- CS23/83 PayCertify 結清證明系統使用DB -->
    <add name="Connection_System" connectionString="09B3EDF1E329FB6CE49BF15844F2E82FC85800D38B819DED528F966EA513ADE13C1823E8EF4D8DD90C6891E1A91AC86ACF662D1BD542355E17F398E60B1B49AE48831D877B062FC563A78C2CE1CD859995E4C8D0097ECC17D92B3169DA71008E4585241C95BAD37F96593F2A2534945BF37DE70E60ED02D11C7E64D2663689EA" providerName="System.Data.SqlClient"/>
    <!-- CSIP Common 公共部分使用DB -->
	<add name="Connection_CSIP" connectionString="09B3EDF1E329FB6CE49BF15844F2E82FB2DAFF8250A47F9DB7F4B69DBCD99CF6FE0342008F9AC1503BA6E1740698859CE0BE1BA313B582D763E3BDB9DF317512157670BBA101E38EE9EAE7091966061FEE1F0A935DE411F0BF9EF1351DA315403FA680EFD85018371A45AA7CA95D92159211D5A938DD9FA0489C2DD108E70627" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--********** Start LDAP配置區  Start ********** -->
    <add key="LDAP_IP" value="41BF84B9B603F68C6134BC0FE0E3874F"/>
    <add key="LDAP_PORT" value="9BA516205E28D6240C2B5147C50B2810"/>
    <add key="LDAP_SIDDN" value="7795F3A8CDD414BE2FF08CC4B7A16C6ABACA223EAEBF53C84A6C40FF71D25E9D"/>
    <add key="LDAP_SIDPass" value="1BEB3CBB30729959C1499B3BADF9A55F"/>
    <add key="LDAP_RootBaseDN" value="27DAFC29AD6AD4BC1193D399766D540F"/>
    <!-- 用戶名字的最大長度                           -->
    <add key="LDAP_USERNAME_MAX_LENGTH" value="96A2737CD7E86E960DC6278F43D0BEE6"/>
    <!--********** End   LDAP配置區    End ********** -->
    <!--********** Start 登出配置區  Start ********** -->
    <!-- 首頁設置-->
    <add key="LOGIN" value="60CCCDB79334D4486A916D2A8774A6CF29A4A47A25F2F06D1FAD530F66E0B106CE8BBB64AD40191244264C9FBFE46CA0"/>
    <!--錯誤頁面設置-->
    <add key="error" value="188F80E042B06A71F5CE48D6F2494418"/>
	<!--錯誤頁面設置(No Clean Session)-->
	<add key="error_iframe" value="60CCCDB79334D4486A916D2A8774A6CF90B32209404235369F2F11666FCFF9D7CE952225B2276D9DFAA24EDD7EE69CECDDB060FB2A639DD5C26F0A4C7F0D9481"/>
	<add key="error2" value="60CCCDB79334D4486A916D2A8774A6CF90B32209404235369F2F11666FCFF9D7CE952225B2276D9DFAA24EDD7EE69CECDDB060FB2A639DD5C26F0A4C7F0D9481"/>
    <!-- 登出設置-->
    <add key="LOGOUT" value="60CCCDB79334D4486A916D2A8774A6CF09281BEE31D1AFA756856A5AC545322C9EC4B42F21A5EEBF053DD185A3EFE6BD"/>
    <!--********** End   登出配置區    End ********** -->
    <!--********** Start 上傳配置區  Start ********** -->
    <!-- 系統中文件上傳功能，文件服務器存放目錄       -->
    <add key="UpLoadFilePath" value="418D602AFA6BBE6635AF7DF42A51C24C"/>
    <!-- 系統中文件下載功能，文件服務器存放目錄       -->
    <add key="FileDownload" value="C2B53C0642110339D46DB2D0ABB04B75"/>
    <!-- 系統匯出Excel文檔時，生存的Excel文檔服務器零時存放路徑-->
    <add key="ExportExcelFilePath" value="EF50C0B14E0706EAE48E55229D22F5F8A8D2681F27E3B9AF8599A2CED61CD4E3"/>
    <!-- 系統匯入作業，匯入文檔最大記錄筆數           -->
    <add key="ImportFileMaxRowCount" value="7324A9DBC8AD9BBA01C4D75E11C766BC"/>
    <!--********** End   上傳配置區    End ********** -->
    <!--********** Start HTG電文配置 Start ********** -->
    <!-- HTG是否是上線環境開關                        -->
    <add key="AUTH_IsOnLine" value="799E4A71B4D44D1FDDFBD0F12B52F658"/>
    <add key="P4_JCAB_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAC_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCEH_IsOnLine" value="799E4A71B4D44D1FDDFBD0F12B52F658"/>
    <add key="P4_JCU9_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCII_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCFK_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCHN_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAS_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAX_IsOnLine" value="799E4A71B4D44D1FDDFBD0F12B52F658"/>
    <add key="067050_IsOnLine" value="799E4A71B4D44D1FDDFBD0F12B52F658"/>
    <!-- HTG電文模板存放路徑                          -->
    <add key="HTGTempletPath" value="140CA339A29B01FFC00494895121EF6AC2E46E2F290FF2B7E9D5B6CEFFF6E646"/>
    <!-- HtgHttp                                      -->
    <add key="HtgHttp" value="29DEFC17D62313501C549CF52A5FD8043C5BA7C633ECEBC1CA40441BA139BE86FA05D1807845ABD9CD4E29ED063DAA1FAE4020032F5988E91AEE603E7BC2AB9D"/>
    <!-- Htg超時時間                                  -->
    <add key="HtgTimeout" value="A1BCA901BBD5ECC77B86425E021EB6C1"/>
    <!--********** End   HTG電文配置   End ********** -->
    <!--********** Start 配置XML區域 Start ********** -->
    <!-- 設置GridView 每頁顯示筆數-->
    <add key="PageSize" value="FC7FC70BA4920CBE0AFD78E8F0DB96AD"/>
    <!-- 頁面權限配置XML                              -->
    <add key="PageActionSettingFile" value="AAAB1E3F470B41A63CB59883CC582E5FFD5D0CDBA38D957FF7AD24BA3DA677EF"/>
    <!-- 網站預設標題System Web Form Default Title.   -->
    <add key="SystemPageTitle" value="A65E5D5FC2434DF7FEE5B6B93F961583"/>
    <!-- 提示訊息用XML路徑                            -->
    <add key="MessageFilePath" value="43E725149E5E2E467F105D088DD1A479334F153C2E242EDA457BCD358FA677C4"/>
    <!-- 頁面元件顯示文字用XML路徑                    -->
    <add key="ShowTextPath" value="D8560D5C9D3B4C513D510BA553992543A157D0CF1185830B54324B3B6C195345"/>
    <!-- 金额相关数值型小数点后的保留位               -->
    <add key="FractionalDigit" value="05BCA09EDC4E53CBCA4BDB80F3400454"/>
    <!--********** End 配置XML區域     End ********** -->
    <!--********** Start 郵件配置區  Start ********** -->
    <add key="SendMail" value="799E4A71B4D44D1FDDFBD0F12B52F658"/>
    <add key="MailTemplate" value="E05EDA65AAE24392415DC8B833B7E04A7B9A1B6653E77549D3B6A506BE4262EF"/>
    <add key="MailServer" value="2FE4DD88E73CA363A9F16DC6720B0A95A35846383ED8AC732B9F31F47D6097F4"/>
    <add key="MailUser" value="CCFC9D08431F9ED028FD8133FCF36E20"/>
    <add key="MailPassword" value="F4E69F3B1EA2FC3C29C16DB01DAC6A75"/>
    <add key="MailSender" value="82194C56A931CCDDA149542BFD63EA37A92B4F4CE17975AAAAEAE4238EC94304"/>
    <add key="EmailNumberToSent" value="936BC63DCACF6FCF5B4597F70B7E90FE"/>
    <add key="AdminMail" value="7FC63372CA0626F5981AA3561110B9331EDDC0F466B0C85EDD75C7652AC19FF7"/>
    <!-- config for Font Type of EMail.(M)             -->
    <add key="MailFontType" value="E06916039E377A9CEB61B91E0E9E671338A6605CE16657E207570FFEA7635FD5F90975572E2FAA12094901E92D266813A500ED8CB44A2F23202D08A9A2957FD3"/>
    <!-- config for Max size of Upload file.(M)-->
    <add key="MaxSize" value="05BCA09EDC4E53CBCA4BDB80F3400454"/>
    <!--********** End   郵件配置區    End ********** -->
    <!--********** Start FTP配置區   Start ********** -->
    <!-- 這個是放FTP文件的位置設置-->
    <add key="FTPRemoteIP" value="6F70710C973073DE3C48377E3E6CE1EE"/>
    <add key="FTPRemotePathDefault" value="66A184CF738D679500D8B1F6C8C17388"/>
    <add key="FTPRemotePort" value="1FCBAB6D54EC8337095394D4C7057E2F"/>
    <add key="FTPUser" value="CA6ED891E03DD8B36D99B93E98118BDC"/>
    <add key="FTPPassword" value="0815587B646CA21327B0030604F963AC"/>
    <add key="SubTotalFilesPath" value="4AA053C243ED1002083C4AA6009C6741"/>
    <add key="FTPFWFlag" value="BA01DB219D959F8887A40FD0D7B57B77"/>
    <!--********** End   FTP配置區    End ********** -->
    <!--********** Start 信息配置區  Start ********** -->
    <!-- Information ExpirationTime, Set "0" to disable cache-->
    <add key="Information_ExpirationTime" value="03D32D1CF6AD77D7A10E5F88FA38CABB"/>
    <!-- Web Service Timeout                          -->
    <add key="Information_Timeout" value="CD45CCB90206F30D83D6C87A7E83DC0B"/>
    <add key="Information_MaxResult" value="13586E5EAC441328477BC9C884CEA0A4"/>
    <!--********** End   信息配置區    End ********** -->
    <!--水晶報表模板路徑-->
    <add key="ReportTemplate" value="070A77B5CE3BEF798330151AA52488AEFBA4751A028872950F237942A1EC0124"/>
    <!--Webservice地址-->
    <add key="WebserviceURL" value="9E57AC5BF9B8664E24BB6BE63A9D8A7E29A12070B8BCA896AFF53757E245AD9779174D2FFC2FE7394A9C157CA5966DADC56A468937C02B44B90C83F91ED5322B"/>
    <add key="WebServiceOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <!--庫名-->
    <add key="ServerCSIP" value="373B4B91F1D22FEB69B5F56EF47B0A04"/>
    <add key="ServerPaycheck" value="034FBC32714958AFA6499D379E35F8CF"/>
    <!--Reporting Services -->
    <add key="ReportServerUrl" value="58B6C119E9BAE2F8BC67CB69756AF23FC3DA784A9AF9D7A648052AC08624A832"/>
    <add key="ReportPath" value="2EFA13501A160E002442B0FF23CD70CD"/>
    <!--EMFS Services -->
    <add key="CallEMFSType" value="00A65CFBC07DEA2E7301DD7C4CEE7C67"/>
    <add key="CallEMFSLevel" value="CC437146B3ED0B09E2C48C7BA196B7C0"/>
    <add key="CallEMFS.CreateProcess" value="http://10.23.87.13/Sub/EMFS/webservice/CreateProcess.asmx"/>
    <!--FTP Server IP  -->
    <add key="FtpIP" value="264218E8D8D84C1414078E0B0854F354887D1C31CCE28F41CD5A572C58A424458B1F45E9C5855206A8B1502C4C67C1CFEB7AE04BABDF4C29A392210EF071EB16"/>
    <!--三天快速發卡郵寄天數-->
    <add key="ThreeMailDay" value="8AF109483949DBEE9FF5D3A2E6FCB607"/>
    <!--一般發卡郵寄天數-->
    <add key="UsualMailDay" value="05BCA09EDC4E53CBCA4BDB80F3400454"/>
    <!--異動作業單新增 超過寄卡日01:01不能修改卡片資料-->
    <add key="MailTime" value="8F7F6EAF688C2E34AF9687C81A126A28"/>
    <add key="Indate" value="8F7F6EAF688C2E34AF9687C81A126A28"/>
    <!--********** Start   備份及清檔設定    Start ********** -->
	<add key="BackupALL" value="8063510424F5316FC0AD68B276AEB83B" />
    <add key="BackupPath" value="737335F30F10ADFED1CC7D7767837BB3E239609CC3B803A08F0E7F238209DAE9"/>
    <add key="BackupKeepDay" value="D5E0E26476B3A9EE512B7A91D97FE6BE"/>
    <add key="SourceKeepDay" value="9AE4574D5BDB18E67171BF0436DE144C"/>
    <add key="SkipExtension" value="129DC7C143D46F50030A0C1C58C54F00"/>
    <add key="SourceFolder" value="198E172BE0D9D84B442AC71E6553929BEC1F0B502E5B674327904DA1CF4F3DEAC6D2505F8C5E41A620F946F65E54D46F6FDA637825D2B2A0EAC89BA57C3005AA"/>
    <!--********** End     備份及清檔設定      End ********** -->
    <!--加解密密鑰-->
    <add key="EncryptKey" value="0C079F9788894FA3209C0483644804D6"/>
    <!--FunctionKey-->
    <add key="FunctionKey" value="9B573FC8C2BC78C65248D8200F2FE5AF"/>
    <add key="SqlCmdTimeoutMax" value="3BB842C04287435EDD1FD29163F1BA7C"/>
	<!--排程啟用狀態-->
    <add key="BatchStatus" value="N"/>
	<add key="OU13TmpFilePath" value="A8F19B6713168C7E58DD72386202B3EC"/>
	<add key="BatchUrl" value="60CCCDB79334D4486A916D2A8774A6CF55171ACD38F66B2264AE74DA783F453C"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly/>
      <dependentAssembly/>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="level" value="DEBUG"/>
        <arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
  </quartz>
  <configProtectedData>
    <providers>
      <clear/>
      <add name="CSIPKeyProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="CSIPKey" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <businessObjects>
    <crystalReports>
      <printControl>
        <add key="url" value="http://10.243.136.235:9706/Common/Cab/PrintControl.cab"/>
      </printControl>
    </crystalReports>
  </businessObjects>
  
</configuration>

