<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="printControl" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0, Culture=neutral,PublicKeyToken=null"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <!--Start Quartz-->
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <!--End-->
  </configSections>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByCategory" localOnly="true"/>
    <sessionState mode="StateServer" regenerateExpiredSessionId="false" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="2097151"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="FileUploadModule" preCondition="integratedMode" type="Framework.WebControls.FileUploadModule, WebControls"/>-->
    </modules>
  </system.webServer>
  <dataConfiguration defaultDatabase="Connection_System"/>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" name="Cache Manager"/>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" name="DatabaseCacheManager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0,Culture=neutral, PublicKeyToken=null" name="inMemory"/>
    </backingStores>
  </cachingConfiguration>
  <connectionStrings>
    <!-- CS23/83 PayCertify 結清證明系統使用DB -->
    <add name="Connection_System" connectionString="AB50DAC9235E8192ECF8C54A6DDD7903C72E90C6E223C48042A15E02D8288CCDA092AEA1A18FD1606DDC25B0EA6326FDBAA12BC93A1E81FD1D1A5D15992FB4F5496AEDDB7F76757EBACF771B8DCEB6E374D61B78C9735E36664AE09CAEF23D4DBBE89A94D0A8D65A73CEDD471A269AE5844CF8C612F22ACDFB95E94F40750DE9" providerName="System.Data.SqlClient"/>
    <!-- CSIP Common 公共部分使用DB -->
	<add name="Connection_CSIP" connectionString="AB50DAC9235E8192ECF8C54A6DDD790343DD26C5A7DA28D522AD152BE6521CEE2633A6ADFC6E2AF2CE349C4C59AF7B32661D78970116E429F6D38E8B7887CA52BD2F35C84BBA4A361F783E19A51C3699865124A5E90F8FA1564B198456EEE548547723844783F23FE497DD4858DCDBAC2B1AFA29707584F1045FD993FB82C656" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--********** Start LDAP配置區  Start ********** -->
    <add key="LDAP_IP" value="192.168.31.41"/>
    <add key="LDAP_PORT" value="389"/>
    <add key="LDAP_SIDDN" value="OU=CSIP,OU=APPs,O=CTCB"/>
    <add key="LDAP_SIDPass" value="5FE76D28046D712D8C436A594E5A36AF"/>
    <add key="LDAP_RootBaseDN" value="ou=HRIS,o=CTCB"/>
    <!-- 用戶名字的最大長度                           -->
    <add key="LDAP_USERNAME_MAX_LENGTH" value="20"/>
    <!--********** End   LDAP配置區    End ********** -->
    <!--********** Start 登出配置區  Start ********** -->
    <!-- 首頁設置-->
    <add key="LOGIN" value="http://10.242.137.88:6700/commLogon.aspx"/>
    <!--錯誤頁面設置-->
    <add key="error" value="Error.aspx"/>
	<!--錯誤頁面設置(No Clean Session)-->
	<add key="error_iframe" value="http://10.242.137.88:6700/Page/ErrorIframe.aspx"/>
	<add key="error2" value="http://10.242.137.88:6700/Page/Error2.aspx"/>
    <!-- 登出設置-->
    <add key="LOGOUT" value="http://10.242.137.88:6706/LogonOut.aspx"/>
    <!--********** End   登出配置區    End ********** -->
    <!--********** Start 上傳配置區  Start ********** -->
    <!-- 系統中文件上傳功能，文件服務器存放目錄       -->
    <add key="UpLoadFilePath" value="FileUpload"/>
    <!-- 系統中文件下載功能，文件服務器存放目錄       -->
    <add key="FileDownload" value="FileDownload"/>
    <!-- 系統匯出Excel文檔時，生存的Excel文檔服務器零時存放路徑-->
    <add key="ExportExcelFilePath" value="ExportExcelFilePath"/>
    <!-- 系統匯入作業，匯入文檔最大記錄筆數           -->
    <add key="ImportFileMaxRowCount" value="15000"/>
    <!--********** End   上傳配置區    End ********** -->
    <!--********** Start HTG電文配置 Start ********** -->
    <!-- HTG是否是上線環境開關                        -->
    <add key="AUTH_IsOnLine" value="TRUE"/>
    <add key="P4_JCAB_IsOnLine" value="FALSE"/>
    <add key="P4_JCAC_IsOnLine" value="FALSE"/>
    <add key="P4_JCEH_IsOnLine" value="TRUE"/>
    <add key="P4_JCU9_IsOnLine" value="FALSE"/>
    <add key="P4_JCII_IsOnLine" value="FALSE"/>
    <add key="P4_JCFK_IsOnLine" value="FALSE"/>
    <add key="P4_JCHN_IsOnLine" value="FALSE"/>
    <add key="P4_JCAS_IsOnLine" value="FALSE"/>
    <add key="P4_JCAX_IsOnLine" value="TRUE"/>
    <add key="067050_IsOnLine" value="TRUE"/>
    <!-- HTG電文模板存放路徑                          -->
    <add key="HTGTempletPath" value="Common/HTGTemplet/"/>
	<!-- HtgHttp  S環境 -->
	<!-- <add key="HtgHttp" value="http://192.168.38.135:80/WS_HG/HgXmlRequestHandler"/>-->
	<!-- HtgHttp  Q環境 -->
	<add key="HtgHttp" value="http://192.168.38.138:80/WS_HG/HgXmlRequestHandler"/>
    <!-- Htg超時時間                                  -->
    <add key="HtgTimeout" value="70000"/>
    <!--********** End   HTG電文配置   End ********** -->
    <!--********** Start 配置XML區域 Start ********** -->
    <!-- 設置GridView 每頁顯示筆數-->
    <add key="PageSize" value="15"/>
    <!-- 頁面權限配置XML                              -->
    <add key="PageActionSettingFile" value="~/Common/XML/PageAction.Config"/>
    <!-- 網站預設標題System Web Form Default Title.   -->
    <add key="SystemPageTitle" value="CSIP"/>
    <!-- 提示訊息用XML路徑                            -->
    <add key="MessageFilePath" value="Common/XML/Message.xml"/>
    <!-- 頁面元件顯示文字用XML路徑                    -->
    <add key="ShowTextPath" value="Common/XML/Show.xml"/>
    <!-- 金额相关数值型小数点后的保留位               -->
    <add key="FractionalDigit" value="2"/>
    <!--********** End 配置XML區域     End ********** -->
    <!--********** Start 郵件配置區  Start ********** -->
    <add key="SendMail" value="true"/>
    <add key="MailTemplate" value="Common/XML/MailTemplate.xml"/>
    <add key="MailServer" value="smtp.ctbcbank.com"/>
    <add key="MailUser" value="ap.csip"/>
    <add key="MailPassword" value=""/>
    <add key="MailSender" value="CSIPTEST@ctbcbank.com"/>
    <add key="EmailNumberToSent" value="10"/>
    <add key="AdminMail" value="nash.liu@ctbcbank.com"/>
    <!-- config for Font Type of EMail.(M)             -->
    <add key="MailFontType" value="font-family: 'gill sans', 'new baskerville', serif"/>
    <!-- config for Max size of Upload file.(M)-->
    <add key="MaxSize" value="2"/>
    <!-- config for Font Type of EMail.(M)-->
    <add key="MailFontType" value="font-family: 'gill sans', 'new baskerville', serif"/>
    <!--********** End   郵件配置區    End ********** -->
    <!--********** Start FTP配置區   Start ********** -->
    <!-- 這個是放FTP文件的位置設置-->
    <add key="FTPRemoteIP" value="10.5.24.69"/>
    <add key="FTPRemotePathDefault" value="."/>
    <add key="FTPRemotePort" value="21"/>
    <add key="FTPUser" value="administrator"/>
    <add key="FTPPassword" value="0815587B646CA21327B0030604F963AC"/>
    <add key="SubTotalFilesPath" value="D:\WebSite\EOS\CSIP\CS09"/>
    <add key="FTPFWFlag" value="Y"/>
    <!--********** End   FTP配置區    End ********** -->
    <!--********** Start 信息配置區  Start ********** -->
    <!-- Information ExpirationTime, Set "0" to disable cache-->
    <add key="Information_ExpirationTime" value="60"/>
    <!-- Web Service Timeout                          -->
    <add key="Information_Timeout" value="10000"/>
    <add key="Information_MaxResult" value="500"/>
    <!--********** End   信息配置區    End ********** -->
    <!--水晶報表模板路徑-->
    <add key="ReportTemplate" value="Common\\RptTemplet\\"/>
    <!--Webservice地址-->
    <add key="WebserviceURL" value="http://10.5.17.146/ICP/WebServices/Macro/WS_PayOff.asmx"/>
    <add key="WebServiceOnLine" value="FALSE"/>
    <!--庫名-->
    <add key="ServerCSIP" value="[CSIP]"/>
    <add key="ServerPaycheck" value="[paycheck]"/>
    <!--Reporting Services -->
    <add key="ReportServerUrl" value="http://192.168.33.39/ReportServer"/>
    <add key="ReportPath" value="/cardflow/"/>
    <!--EMFS Services -->
    <add key="CallEMFSType" value="一般件"/>
    <add key="CallEMFSLevel" value="鼎級"/>
    <add key="CallEMFS.CreateProcess" value="輸入字串格式不正確。"/>
    <!--FTP Server IP  -->
    <add key="FtpIP" value="192.168.31.9;192.168.31.30"/>
    <!--三天快速發卡郵寄天數-->
    <add key="ThreeMailDay" value="1"/>
    <!--一般發卡郵寄天數-->
    <add key="UsualMailDay" value="1"/>
    <!--異動作業單新增 超過寄卡日01:01不能修改卡片資料-->
    <add key="MailTime" value="11:30"/>
    <add key="Indate" value="11:30"/>
    <!--********** Start   備份及清檔設定    Start ********** -->
	<add key="BackupALL" value="false" />
    <add key="BackupPath" value="D:\WebSite\CSIP\CSIPBACKUP\Cardflow\"/>
    <add key="BackupKeepDay" value="90"/>
    <add key="SourceKeepDay" value="30"/>
    <add key="SkipExtension" value=".scc,.ini"/>
    <add key="SourceFolder" value="Log,LogXml,FileUpload,FileDownload,Page\ExportExcelFilePath"/>
    <!--********** End     備份及清檔設定      End ********** -->
    <!--加解密密鑰-->
    <add key="EncryptKey" value="0C079F9788894FA3209C0483644804D6"/>
    <!--FunctionKey-->
    <add key="FunctionKey" value="06"/>
    <add key="SqlCmdTimeoutMax" value="6000"/>

	<!--排程啟用狀態-->
	<add key="BatchStatus" value="Y"/>
	<add key="OU13TmpFilePath" value="OU13Tmp"/>
	<add key="BatchUrl" value="http://10.242.137.88:6706/"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly/>
      <dependentAssembly/>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="level" value="DEBUG"/>
        <arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
  </quartz>
  <configProtectedData>
    <providers>
      <clear/>
      <add name="CSIPKeyProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="CSIPKey" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <businessObjects>
    <crystalReports>
      <printControl>
        <add key="url" value="http://10.242.137.88:6706/Common/Cab/PrintControl.cab"/>
      </printControl>
    </crystalReports>
  </businessObjects>
  
</configuration>

