<?xml version="1.0" encoding="utf-8"?>
<Root>
	<ActionCodeSettings>
		<Code key="Search" value="1"  />
		<!--查詢-->
	</ActionCodeSettings>
	<Pages>
		<!-- 01 卡片管理作業 -->
		<Page url="~/Page/P060201000001.aspx" name="綜合資料處理" functionid="02010000" by="Search"></Page>
    <Page url="~/Page/P060201000002.aspx" name="綜合資料處理修改" functionid="02010000" by="Search"></Page>
		<Page url="~/Page/P060201000003.aspx" name="綜合資料新增" functionid="02010000" by="Search"></Page>
    <Page url="~/Page/P060202000001.aspx" name="異動作業單新增" functionid="02020000" by="Search"></Page>
    <Page url="~/Page/P060202000002.aspx" name="異動作業單非強迫新增" functionid="02020000" by="Search"></Page>
    <Page url="~/Page/P060202000003.aspx" name="異動作業單強迫新增" functionid="02020000" by="Search"></Page>
    <Page url="~/Page/P060203000001.aspx" name="異動作業單查詢" functionid="02030000" by="Search"></Page>
		<Page url="~/Page/P060204000001.aspx" name="人工註消" functionid="02040000" by="Search"></Page>
		<Page url="~/Page/P060205000001.aspx" name="卡片自取維護" functionid="02050000" by="Search"></Page>
    <Page url="~/Page/P060205000002.aspx" name="卡片自取維護作業-維護" functionid="02050000" by="Search"></Page>
    <Page url="~/Page/P060205000003.aspx" name="綜合資料處理修改0205" functionid="02050000" by="Search"></Page>

    <Page url="~/Page/P060206000001.aspx" name="退件處理" functionid="02060000" by="Search"></Page>
		<Page url="~/Page/P060207000001.aspx" name="自取庫存日結" functionid="02070000" by="Search"></Page>
    <Page url="~/Page/P060207000002.aspx" name="卡片自取庫存盤點表" functionid="02070000" by="Search"></Page>
		<Page url="~/Page/P060208000001.aspx" name="VD卡整批結案" functionid="02080000" by="Search"></Page>
		<Page url="~/Page/P060209000001.aspx" name="註消記錄處理" functionid="02090000" by="Search"></Page>
    <Page url="~/Page/P060209000002.aspx" name="記錄確認" functionid="02090000" by="Search"></Page>
    <Page url="~/Page/P060209000003.aspx" name="註銷記錄處理列印" functionid="02090000" by="Search"></Page>

    <!-- 02 匯入匯出作業-->
		<Page url="~/Page/P060301000001.aspx" name="手動異動檔處理" functionid="03010000" by="Search"></Page>
		<Page url="~/Page/P060302000001.aspx" name="手動大宗檔錯誤處理" functionid="03020000" by="Search"></Page>
    <Page url="~/Page/P060302000002.aspx" name="手動大宗檔下載" functionid="03020000" by="Search"></Page>
		<!-- 03 郵局作業 -->
		<Page url="~/Page/P060401000001.aspx" name="郵局查單申請處理" functionid="04010000" by="Search"></Page>
    <Page url="~/Page/P060401000002.aspx" name="郵局查單申請處理新增" functionid="04010000" by="Search"></Page>
    <Page url="~/Page/P060401000003.aspx" name="郵局查單申請處理修改" functionid="04010000" by="Search"></Page>
    <Page url="~/Page/P060401000004.aspx" name="傳真查詢國內各項掛號郵件查單" functionid="04010000" by="Search"></Page>
		<!-- 04 報表功能 -->
		<Page url="~/Page/P060502000001.aspx" name="無法製卡檔查詢" functionid="05020000" by="Search"></Page>
		<Page url="~/Page/P060503000001.aspx" name="換卡異動檔查詢" functionid="05030000" by="Search"></Page>
		<Page url="~/Page/P060504000001.aspx" name="郵局退件資料查詢" functionid="05040000" by="Search"></Page>
		<Page url="~/Page/P060506000001.aspx" name="註銷作業報表" functionid="05060000" by="Search"></Page>
		<Page url="~/Page/P060507000001.aspx" name="簡訊發送查詢" functionid="05070000" by="Search"></Page>
		<Page url="~/Page/P060508000001.aspx" name="郵局寄送資料查詢" functionid="05080000" by="Search"></Page>
		<Page url="~/Page/P060509000001.aspx" name="分行郵寄資料查詢" functionid="05090000" by="Search"></Page>
		<Page url="~/Page/P060510000001.aspx" name="扣卡明細查詢" functionid="05100000" by="Search"></Page>
		<Page url="~/Page/P060510000002.aspx" name="扣卡明細報表" functionid="05100000" by="Search"></Page>
		<Page url="~/Page/P060511000001.aspx" name="分行郵寄資料查詢" functionid="05110000" by="Search"></Page>
		<Page url="~/Page/P060512000001.aspx" name="扣卡明細查詢" functionid="05120000" by="Search"></Page>
    <Page url="~/Page/P060512000002.aspx" name="郵件交寄狀況檢核" functionid="05120000" by="Search"></Page>
		<Page url="~/Page/P060513000001.aspx" name="更改寄送方式記錄查詢" functionid="05130000" by="Search"></Page>
		<Page url="~/Page/P060514000001.aspx" name="郵件交寄狀況檢核" functionid="05140000" by="Search"></Page>
		<Page url="~/Page/P060515000001.aspx" name="OASA報表" functionid="05150000" by="Search"></Page>
		<Page url="~/Page/P060516000001.aspx" name="OASA監控補掛報表" functionid="05160000" by="Search"></Page>
		<Page url="~/Page/P060517000001.ASPX" name="卡片數量統計表" functionid="05170000" by="Search"></Page>
		<Page url="~/Page/P060518000001.ASPX" name="退件日報表" functionid="05180000" by="Search"></Page>
		<Page url="~/Page/P060519000001.ASPX" name="退件原因統計表" functionid="05190000" by="Search"></Page>
		<Page url="~/Page/P060520000001.ASPX" name="退件聯絡報表案" functionid="05200000" by="Search"></Page>
		<Page url="~/Page/P060521000001.ASPX" name="製卡相關資料查詢" functionid="05210000" by="Search"></Page>
		<!-- 05 系統維護 -->
		<Page url="~/Page/P060604000001.aspx" name="操作Log記錄" functionid="06040000" by="Search"></Page>
    <Page url="~/Page/P060604000002.aspx" name="操作Log記錄列印" functionid="06040000" by="Search"></Page>
		<Page url="~/Page/P060606000001.aspx" name="交換檔案設定" functionid="06060000" by="Search"></Page>
		<Page url="~/Page/P060608000001.aspx" name="警訊通知設定" functionid="06080000" by="Search"></Page>
	</Pages>
</Root>

