<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="printControl" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
    </sectionGroup>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0, Culture=neutral,PublicKeyToken=null"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <!--Start Quartz-->
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <!--End-->
  </configSections>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByCategory" localOnly="true"/>
    <sessionState mode="StateServer" regenerateExpiredSessionId="false" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
        <add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
      </tagMapping>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
		<add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Deployment, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="2097151"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="FileUploadModule" preCondition="integratedMode" type="Framework.WebControls.FileUploadModule, WebControls"/>-->
    </modules>
  </system.webServer>
  <dataConfiguration defaultDatabase="Connection_System"/>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" name="Cache Manager"/>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" name="DatabaseCacheManager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching,Version=2.0.0.0,Culture=neutral, PublicKeyToken=null" name="inMemory"/>
    </backingStores>
  </cachingConfiguration>
  <connectionStrings>
    <!-- CS23/83 PayCertify 結清證明系統使用DB -->
    <add name="Connection_System" connectionString="008C48F7A608750C75CD9A8765D5B5C224A7A88A3980558CB0F3A94970695DA4D67EC4CADA3ACCABAD3EAC5E9A1BE7FF289561698343DCB0A4FB0618620B65C209E7CCBBC9E108D38BD537BB0F03A8B71E705D0E624BFBAA76E886A253934B466865F57B44BAD3862EBC440B304A2C76" providerName="System.Data.SqlClient"/>
    <!-- CSIP Common 公共部分使用DB -->
    <add name="Connection_CSIP" connectionString="008C48F7A608750C75CD9A8765D5B5C224A7A88A3980558CB0F3A94970695DA4AB237DBB7DDDCEBCD65FEAAB2E411C33546C195EF62941BB612B6490E27640ABE7644074BB385CC5B05F11DCD946686273AFA1EDEC28D115060D9DD4370844E38A3899BEC87A79433935971A4C59C8B0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--********** Start LDAP配置區  Start ********** -->
    <add key="LDAP_IP" value="A8272E6806077D45DFC7A939F1B7D6BB"/>
    <add key="LDAP_PORT" value="9BA516205E28D6240C2B5147C50B2810"/>
    <add key="LDAP_SIDDN" value="7795F3A8CDD414BE2FF08CC4B7A16C6ABACA223EAEBF53C84A6C40FF71D25E9D"/>
    <add key="LDAP_SIDPass" value="5FE76D28046D712D8C436A594E5A36AF"/>
    <add key="LDAP_RootBaseDN" value="27DAFC29AD6AD4BC1193D399766D540F"/>
    <!-- 用戶名字的最大長度                           -->
    <add key="LDAP_USERNAME_MAX_LENGTH" value="96A2737CD7E86E960DC6278F43D0BEE6"/>
    <!--********** End   LDAP配置區    End ********** -->
    <!--********** Start 登出配置區  Start ********** -->
    <!-- 首頁設置-->
    <add key="LOGIN" value="71D260A62E63C7296936931EA5EC8BCA1017946DAF99C72B2ECE54A00754A862B675F97E8DA8EB46DEB006617521D299"/>
    <!--錯誤頁面設置-->
    <add key="error" value="188F80E042B06A71F5CE48D6F2494418"/>
	<!--錯誤頁面設置(No Clean Session)-->
	<add key="error_iframe" value="71D260A62E63C7296936931EA5EC8BCA987E1955E40922249FE62696C4FA704851AD8F3F246237E519D157B04C6C4CF6"/>
	<add key="error2" value="71D260A62E63C7296936931EA5EC8BCA987E1955E40922249FE62696C4FA7048EDF24CF3D8DDB1A39396289A6735BFEE"/>
    <!-- 登出設置-->
    <add key="LOGOUT" value="71D260A62E63C7296936931EA5EC8BCA3556994B8DC7C06B44C078351F929B5A66A47EF3A6B3755BE6B05E52B762EF21"/>
    <!--********** End   登出配置區    End ********** -->
    <!--********** Start 上傳配置區  Start ********** -->
    <!-- 系統中文件上傳功能，文件服務器存放目錄       -->
    <add key="UpLoadFilePath" value="DAC0F0CC3703F6A29A58A7F04DD3A9E4CA756E689F5918E21D94FDA009F89B29"/>
    <!-- 系統中文件下載功能，文件服務器存放目錄       -->
    <add key="FileDownload" value="581098EA0CEB9F57B88F2B06358A7EBE249898848C303C3703233D899BE7FEA8851EE326035545A4B3EC00C491163C39"/>
	<add key="OU13TmpFilePath" value="4434C6712D7B5F6494FBBAE34BEE5D2A3FF63C28A98DB28E8E551AE171394BD5"/>
    <!-- 系統匯出Excel文檔時，生存的Excel文檔服務器零時存放路徑-->
    <add key="ExportExcelFilePath" value="EF50C0B14E0706EAE48E55229D22F5F8A8D2681F27E3B9AF8599A2CED61CD4E3"/>
    <!-- 系統匯入作業，匯入文檔最大記錄筆數           -->
    <add key="ImportFileMaxRowCount" value="7324A9DBC8AD9BBA01C4D75E11C766BC"/>
    <!--********** End   上傳配置區    End ********** -->
    <!--********** Start HTG電文配置 Start ********** -->
    <!-- HTG是否是上線環境開關                        -->
    <add key="AUTH_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAB_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAC_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCEH_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCU9_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCII_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCFK_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCHN_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAS_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="P4_JCAX_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <add key="067050_IsOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <!-- HTG電文模板存放路徑                          -->
    <add key="HTGTempletPath" value="140CA339A29B01FFC00494895121EF6AC2E46E2F290FF2B7E9D5B6CEFFF6E646"/>
    <!-- HtgHttp                                      -->
    <add key="HtgHttp" value="DBA8E70B8BA8799AED4B90845B0F7716716C942B61EF695BE4F49DEADB7C210FC41704FC0F157785B1AFFE509E1807574DE3C9E046D60ED73AF418069334CFDC"/>
    <!-- Htg超時時間                                  -->
    <add key="HtgTimeout" value="E0FD67E9F35D79422ED90FB757E2060C"/>
    <!--********** End   HTG電文配置   End ********** -->
    <!--********** Start 配置XML區域 Start ********** -->
    <!-- 設置GridView 每頁顯示筆數-->
    <add key="PageSize" value="936BC63DCACF6FCF5B4597F70B7E90FE"/>
    <!-- 頁面權限配置XML                              -->
    <add key="PageActionSettingFile" value="AAAB1E3F470B41A63CB59883CC582E5FFD5D0CDBA38D957FF7AD24BA3DA677EF"/>
    <!-- 網站預設標題System Web Form Default Title.   -->
    <add key="SystemPageTitle" value="A65E5D5FC2434DF7FEE5B6B93F961583"/>
    <!-- 提示訊息用XML路徑                            -->
    <add key="MessageFilePath" value="43E725149E5E2E467F105D088DD1A479334F153C2E242EDA457BCD358FA677C4"/>
    <!-- 頁面元件顯示文字用XML路徑                    -->
    <add key="ShowTextPath" value="D8560D5C9D3B4C513D510BA553992543A157D0CF1185830B54324B3B6C195345"/>
    <!-- 金额相关数值型小数点后的保留位               -->
    <add key="FractionalDigit" value="05BCA09EDC4E53CBCA4BDB80F3400454"/>
    <!--********** End 配置XML區域     End ********** -->
    <!--********** Start 郵件配置區  Start ********** -->
    <add key="SendMail" value="7A462A59A95A47B0A774DE85634EBBC9"/>
    <add key="MailTemplate" value="E05EDA65AAE24392415DC8B833B7E04A7B9A1B6653E77549D3B6A506BE4262EF"/>
    <add key="MailServer" value="999BFE6F5C54BCD1789CD2C9C81DBD25"/>
    <add key="MailUser" value="35BFCE0DE9577B8082B354DCEEC0CC6C"/>
    <add key="MailPassword" value="FD9B7AB4ACD3D5D4A1A3E6E703EAFAE5"/>
    <add key="MailSender" value="91C6FFD0E1F5023A79E4BA621C12AB5D16654DF90A5808F07911A98A177886DE"/>
    <add key="EmailNumberToSent" value="936BC63DCACF6FCF5B4597F70B7E90FE"/>
    <add key="AdminMail" value="7FC63372CA0626F5981AA3561110B9331EDDC0F466B0C85EDD75C7652AC19FF7"/>
    <!-- config for Font Type of EMail.(M)             -->
    <add key="MailFontType" value="E06916039E377A9CEB61B91E0E9E671338A6605CE16657E207570FFEA7635FD5F90975572E2FAA12094901E92D266813A500ED8CB44A2F23202D08A9A2957FD3"/>
    <!-- config for Max size of Upload file.(M)-->
    <add key="MaxSize" value="05BCA09EDC4E53CBCA4BDB80F3400454"/>
    <!-- config for Font Type of EMail.(M)-->
    <add key="MailFontType" value="E06916039E377A9CEB61B91E0E9E671338A6605CE16657E207570FFEA7635FD5F90975572E2FAA12094901E92D266813A500ED8CB44A2F23202D08A9A2957FD3"/>
    <!--********** End   郵件配置區    End ********** -->
    <!--********** Start FTP配置區   Start ********** -->
    <!-- 這個是放FTP文件的位置設置-->
    <add key="FTPRemoteIP" value="6F70710C973073DE3C48377E3E6CE1EE"/>
    <add key="FTPRemotePathDefault" value="66A184CF738D679500D8B1F6C8C17388"/>
    <add key="FTPRemotePort" value="1FCBAB6D54EC8337095394D4C7057E2F"/>
    <add key="FTPUser" value="CA6ED891E03DD8B36D99B93E98118BDC"/>
    <add key="FTPPassword" value="0815587B646CA21327B0030604F963AC"/>
    <add key="SubTotalFilesPath" value="4434C6712D7B5F6494FBBAE34BEE5D2A344CED04B4CE61CDA4A5A8715244A769"/>
    <add key="FTPFWFlag" value="BA01DB219D959F8887A40FD0D7B57B77"/>
    <!--********** End   FTP配置區    End ********** -->
    <!--********** Start 信息配置區  Start ********** -->
    <!-- Information ExpirationTime, Set "0" to disable cache-->
    <add key="Information_ExpirationTime" value="03D32D1CF6AD77D7A10E5F88FA38CABB"/>
    <!-- Web Service Timeout                          -->
    <add key="Information_Timeout" value="CD45CCB90206F30D83D6C87A7E83DC0B"/>
    <add key="Information_MaxResult" value="13586E5EAC441328477BC9C884CEA0A4"/>
    <!--********** End   信息配置區    End ********** -->
    <!--水晶報表模板路徑-->
    <add key="ReportTemplate" value="070A77B5CE3BEF798330151AA52488AEFBA4751A028872950F237942A1EC0124"/>
    <!--Webservice地址-->
    <add key="WebserviceURL" value="9E57AC5BF9B8664E24BB6BE63A9D8A7E29A12070B8BCA896AFF53757E245AD9779174D2FFC2FE7394A9C157CA5966DADC56A468937C02B44B90C83F91ED5322B"/>
    <add key="WebServiceOnLine" value="FC881BFE68103AF8480D3FE278FEB588"/>
    <!--庫名-->
    <add key="ServerCSIP" value="373B4B91F1D22FEB69B5F56EF47B0A04"/>
    <add key="ServerPaycheck" value="034FBC32714958AFA6499D379E35F8CF"/>
    <!--Reporting Services -->
    <add key="ReportServerUrl" value="8F61C47724AEA68C9F9597054D2EB135111D93E78890982F1B39CCEF4AA15FD6FCD75459DB3D52005B89C6E310CE7DC8"/>
    <add key="ReportPath" value="1476CA36CB867AA080C61D140A3305F4"/>
    <!--EMFS Services -->
    <add key="CallEMFSType" value="444CC62FA0D589AEC0028BF916C9D246"/>
    <add key="CallEMFSLevel" value="CC437146B3ED0B09E2C48C7BA196B7C0"/>
    <add key="CallEMFS.CreateProcess" value="54282FA98440ED6A3FB4348E46CE6B8B5CC93B6B2F4FB81C0648B3967CA3AC1AD8DC5F0906495451990A4DD2022B0254738CCCC380E0696DC2CDD35668BD3D77"/>
    <!--FTP Server IP  -->
    <add key="FtpIP" value="A08CD8D970CB9531B1CAD52A194248ACA1B00AE135D265374C210F9DE48BEDA5"/>
    <!--三天快速發卡郵寄天數-->
    <add key="ThreeMailDay" value="8AF109483949DBEE9FF5D3A2E6FCB607"/>
    <!--一般發卡郵寄天數-->
    <add key="UsualMailDay" value="8AF109483949DBEE9FF5D3A2E6FCB607"/>
    <!--異動作業單新增 超過寄卡日01:01不能修改卡片資料-->
    <add key="MailTime" value="8F7F6EAF688C2E34AF9687C81A126A28"/>
    <add key="Indate" value="8F7F6EAF688C2E34AF9687C81A126A28"/>
    <!--********** Start   備份及清檔設定    Start ********** -->
	<add key="BackupALL" value="8063510424F5316FC0AD68B276AEB83B" />
    <add key="BackupPath" value="581098EA0CEB9F57B88F2B06358A7EBE5C2437250E93804BE873BD001DBC67F402D7A4B37A5854019CE86C82494FBDA1"/>
    <add key="BackupKeepDay" value="D5E0E26476B3A9EE512B7A91D97FE6BE"/>
    <add key="SourceKeepDay" value="9AE4574D5BDB18E67171BF0436DE144C"/>
    <add key="SkipExtension" value="129DC7C143D46F50030A0C1C58C54F00"/>
    <add key="SourceFolder" value="198E172BE0D9D84B442AC71E6553929BEC1F0B502E5B674327904DA1CF4F3DEA748227F97BE144C2B7EC594E2E3AC9ED5A7C7DE233B679B13542816AC7EFAF2A"/>
    <!--********** End     備份及清檔設定      End ********** -->
    <!--加解密密鑰-->
    <add key="EncryptKey" value="0C079F9788894FA3209C0483644804D6"/>
    <!--FunctionKey-->
    <add key="FunctionKey" value="9B573FC8C2BC78C65248D8200F2FE5AF"/>
    <add key="SqlCmdTimeoutMax" value="3BB842C04287435EDD1FD29163F1BA7C"/>
	
	<!--排程啟用狀態-->
    <add key="BatchStatus" value="BA01DB219D959F8887A40FD0D7B57B77"/>
	
	<add key="OU13TmpFilePath" value="93534630F02D97B884209C97F2E24ADD24118A70B8BF5C2DFC51F062CCBE9874780F816B32BAE00F885F79267A5CDFD9"/>
	
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly/>
      <dependentAssembly/>
    </assemblyBinding>
  </runtime>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="level" value="DEBUG"/>
        <arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
  </quartz>
  <configProtectedData>
    <providers>
      <clear/>
      <add name="CSIPKeyProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="CSIPKey" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <businessObjects>
    <crystalReports>
      <printControl>
        <add key="url" value="http://192.168.1.82:8706/Common/Cab/PrintControl.cab"/>
      </printControl>
    </crystalReports>
  </businessObjects>
  
</configuration>

